body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 31, 31);
    margin-top: 130px;
}

.program {
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    width: 40%;
}

.program:hover {
    background: #b90000;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: black;
}

svg{
    position: absolute;
    top: -40px;
    left: -40px; 
}